name: Spack CI

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  call:
    name: Call Spack CI
    uses: LIHPC-Computational-Geometry/spack_recipes/.github/workflows/spack-reusable.yml@main
    secrets: inherit
    with:
      coverage: ${{ github.event_name == 'pull_request' }}
